body {
  background: url("woman-ready-run.jpg");
  color: white;
}

.img {
  width: 200px;
  height: 200px;
  background: url("index.jpg");
  margin: auto;
}
form {
  background-color: rgba(255, 99, 71, 0.4);
  margin: 20px;
  text-align: center;
  padding: 20px;
}
a {
  font-size: large;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
li {
  list-style-type: none;
}
